<module name="spice">

    <url href="http://spice.sourceforge.net"/>
    <description>
      A repository of reusable components for Java Containers.
    </description>

    <cvs repository="sourceforge" host-prefix="cvs.spice"
        module="spice" dir="spice"/>

    <project name="spice-classman">
        <package>org.realityforge.classman</package>

        <ant basedir="components/classman">
            <property name="final.name" value="spice-classman-@@DATE@@"/>
        </ant>

        <depend project="jakarta-ant" inherit="runtime"/>
        <depend project="junit"/>
        <depend project="xml-xerces"/>
        <depend project="excalibur-extension"/>
        <depend project="excalibur-i18n"/>
        <work nested="components/classman/target/classes"/>
        <work nested="components/classman/target/test-classes"/>

        <home nested="components/classman"/>
        <jar name="target/spice-classman-@@DATE@@.jar"/>
        <nag from="Peter Donald &lt;peter@realityforge.org&gt;"
            to="spice-devel@lists.sourceforge.net"/>
    </project>

    <project name="spice-cli">
        <package>org.realityforge.cli</package>

        <ant basedir="components/cli">
            <property name="final.name" value="spice-cli-@@DATE@@"/>
        </ant>

        <depend project="jakarta-ant" inherit="runtime"/>
        <depend project="junit"/>
        <depend project="xml-xerces"/>
        <work nested="components/cli/target/classes"/>
        <work nested="components/cli/target/test-classes"/>

        <home nested="components/cli"/>
        <jar name="target/spice-cli-@@DATE@@.jar"/>
        <nag from="Peter Donald &lt;peter@realityforge.org&gt;"
            to="spice-devel@lists.sourceforge.net"/>
    </project>

    <project name="spice-configkit">
        <package>org.realityforge.configkit</package>

        <ant basedir="components/configkit">
            <property name="final.name" value="spice-configkit-@@DATE@@"/>
        </ant>

        <depend project="jakarta-ant" inherit="runtime"/>
        <depend project="junit"/>
        <depend project="xml-xerces"/>
        <depend project="isorelax"/>
        <depend project="msv"/>
        <depend project="xsdlib"/>
        <depend project="relaxngDatatype"/>
        <work nested="components/configkit/target/classes"/>
        <work nested="components/configkit/target/test-classes"/>

        <home nested="components/configkit"/>
        <jar name="target/spice-configkit-@@DATE@@.jar"/>
        <nag from="Peter Donald &lt;peter@realityforge.org&gt;"
            to="spice-devel@lists.sourceforge.net"/>
    </project>

    <project name="spice-converter">
        <package>org.realityforge.converter</package>

        <ant basedir="components/converter">
            <property name="final.name" value="spice-converter-@@DATE@@"/>
        </ant>

        <depend project="jakarta-ant" inherit="runtime"/>
        <depend project="junit"/>
        <depend project="xml-xerces"/>
        <depend project="excalibur-i18n" />
        <work nested="components/converter/target/classes"/>
        <work nested="components/converter/target/test-classes"/>

        <home nested="components/converter"/>
        <jar name="target/spice-converter-@@DATE@@.jar"/>
        <nag from="Peter Donald &lt;peter@realityforge.org&gt;"
            to="spice-devel@lists.sourceforge.net"/>
    </project>

    <project name="spice-io">
        <package>org.realityforge.io</package>

        <ant basedir="components/io">
            <property name="final.name" value="spice-io-@@DATE@@"/>
        </ant>

        <depend project="jakarta-ant" inherit="runtime"/>
        <depend project="junit"/>
        <depend project="xml-xerces"/>
        <work nested="components/io/target/classes"/>
        <work nested="components/io/target/test-classes"/>

        <home nested="components/io"/>
        <jar name="target/spice-io-@@DATE@@.jar"/>
        <nag from="Peter Donald &lt;peter@realityforge.org&gt;"
            to="spice-devel@lists.sourceforge.net"/>
    </project>

    <project name="spice-jndikit">
        <package>org.realityforge.jndikit</package>

        <ant basedir="components/jndikit">
            <property name="final.name" value="spice-jndikit-@@DATE@@"/>
        </ant>

        <depend project="jakarta-ant" inherit="runtime"/>
        <depend project="junit"/>
        <depend project="xml-xerces"/>
        <work nested="components/jndikit/target/classes"/>
        <work nested="components/jndikit/target/test-classes"/>

        <home nested="components/jndikit"/>
        <jar name="target/spice-jndikit-@@DATE@@.jar"/>
        <nag from="Peter Donald &lt;peter@realityforge.org&gt;"
            to="spice-devel@lists.sourceforge.net"/>
    </project>

    <project name="spice-metaclass">
        <package>org.realityforge.metaclass</package>

        <ant basedir="components/metaclass">
            <property name="final.name" value="spice-metaclass-@@DATE@@"/>
        </ant>

        <depend project="jakarta-ant" inherit="runtime"/>
        <depend project="junit"/>
        <depend project="spice-qdox"/>
        <depend project="xml-xerces"/>
        <work nested="components/metaclass/target/classes"/>
        <work nested="components/metaclass/target/test-classes"/>

        <home nested="components/metaclass"/>
        <jar name="target/spice-metaclass-@@DATE@@.jar"/>
        <nag from="Peter Donald &lt;peter@realityforge.org&gt;"
            to="spice-devel@lists.sourceforge.net"/>
    </project>

    <project name="spice-nativekit">
        <package>org.realityforge.nativekit</package>

        <ant basedir="components/nativekit">
            <property name="final.name" value="spice-nativekit-@@DATE@@"/>
        </ant>

        <depend project="jakarta-ant" inherit="runtime"/>
        <depend project="junit"/>
        <depend project="xml-xerces"/>
        <depend project="excalibur-i18n"/>
        <depend project="jakarta-avalon"/>
        <work nested="components/nativekit/target/classes"/>
        <work nested="components/nativekit/target/test-classes"/>

        <home nested="components/nativekit"/>
        <jar name="target/spice-nativekit-@@DATE@@.jar"/>
        <nag from="Peter Donald &lt;peter@realityforge.org&gt;"
            to="spice-devel@lists.sourceforge.net"/>
    </project>

    <!-- Ugly hackity project as qdox is not gumpified -->
    <project name="spice-qdox">
        <jar name="tools/lib/qdox-1.0.jar"/>
    </project>

    <project name="spice-threadpool">
        <package>org.realityforge.threadpool</package>

        <ant basedir="components/threadpool">
            <property name="final.name" value="spice-threadpool-@@DATE@@"/>
        </ant>

        <depend project="jakarta-ant" inherit="runtime"/>
        <depend project="junit"/>
        <depend project="xml-xerces"/>
        <depend project="jakarta-avalon"/>
        <depend project="jakarta-oro"/>
        <depend project="commons-pool"/>
        <depend project="spice-configkit" inherit="runtime"/>
        <work nested="components/threadpool/target/classes"/>
        <work nested="components/threadpool/target/test-classes"/>

        <home nested="components/threadpool"/>
        <jar name="target/spice-threadpool-@@DATE@@.jar"/>
        <nag from="Peter Donald &lt;peter@realityforge.org&gt;"
            to="spice-devel@lists.sourceforge.net"/>
    </project>

    <project name="spice-xinvoke">
        <package>org.realityforge.xinvoke</package>

        <ant basedir="components/xinvoke">
            <property name="final.name" value="spice-xinvoke-@@DATE@@"/>
        </ant>

        <depend project="jakarta-ant" inherit="runtime"/>
        <depend project="junit"/>
        <depend project="xml-xerces"/>
        <depend project="jakarta-avalon"/>
        <depend project="jakarta-oro"/>
        <depend project="commons-jexl" inherit="runtime"/>
        <work nested="components/xinvoke/target/classes"/>
        <work nested="components/xinvoke/target/test-classes"/>

        <home nested="components/xinvoke"/>
        <jar name="target/spice-xinvoke-@@DATE@@.jar"/>
        <nag from="Peter Donald &lt;peter@realityforge.org&gt;"
            to="spice-devel@lists.sourceforge.net"/>
    </project>

<!--
    <project name="spice-xsyslog">
        <package>org.realityforge.xsyslog</package>

        <ant basedir="components/xinvoke">
            <property name="final.name" value="spice-xsyslog-@@DATE@@"/>
        </ant>

        <depend project="jakarta-ant" inherit="runtime"/>
        <depend project="junit"/>
        <depend project="xml-xerces"/>
        <depend project="jakarta-avalon"/>
        <depend project="jakarta-avalon-logkit"/>
        <depend project="jakarta-oro"/>
        <depend project="spice-configkit" inherit="runtime"/>

        <work nested="components/xinvoke/target/classes"/>
        <work nested="components/xinvoke/target/test-classes"/>

        <home nested="components/xinvoke"/>
        <jar name="target/spice-xinvoke-@@DATE@@.jar"/>
        <nag from="Peter Donald &lt;peter@realityforge.org&gt;"
            to="spice-devel@lists.sourceforge.net"/>
    </project>
 -->

</module>
