
.main_menu_item {
        font-family: Geneva, Arial, Helvetica, sans-serif;
        font-size: 16px;
        color: #666666;
}
.logotext {
        font-family: Geneva, Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 16px;
        color: #666666;
}

.slogan_text {
        font-family: Geneva, Arial, Helvetica, sans-serif;
        font-style: italic;
        color: #666666;
        font-size: 14px;
}

th {
        font-family: Geneva, Arial, Helvetica, sans-serif;
        font-style: italic;
        color: #666666;
        font-size: 14px;
}

.field_name {
        font-family: Geneva, Arial, Helvetica, sans-serif;
        font-style: italic;
        color: #666666;
        font-size: 14px;
}

.small_menu_item {
        font-family: Geneva, Arial, Helvetica, sans-serif;
        color: #666666;
        font-size: 10px;
}

.description_text {
        font-family: Geneva, Arial, Helvetica, sans-serif;
        color: #666666;
        font-size: 10px;
}

form {
 padding: 5px;
}

input {
 color: #666666;
 font-family: Geneva, Arial, Helvetica, sans-serif;
}