RedirectMatch ^/classman(.*) http://spice.codehaus.org/deprecated.html
RedirectMatch ^/cli(.*) http://spice.codehaus.org/deprecated.html
RedirectMatch ^/extension(.*) http://spice.codehaus.org/deprecated.html
RedirectMatch ^/xmlpolicy(.*) http://spice.codehaus.org/deprecated.html

